@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  color: #333;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}

textarea {
  height: 80px;
  resize: none;
}

button {
  padding: 10px 15px;
  background-color: #8c53fd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  background-color: #4f23a8;
}

button.export-btn {
  background-color: #28a745;
  display: block; 
  margin: 0 auto;
}

button.export-btn:hover {
  background-color: #1c7c31;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}

li strong {
  display: block;
  margin-bottom: 5px;
  color: #000000;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}
